.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
  height: 100vh;
}
.textComponent {
  width: 65%;
  margin-left: 10%;
  font-family: "Poppins", sans-serif;
  color: white;
}
.helloimage {
  width: 60%;
  display: flex;
  justify-content: flex-start;
  margin-top: -23%;
  margin-bottom: -15%;
  margin-left: -7rem;
}
.text1 {
  font-size: 2rem;
  font-weight: bold;
  color: red;
  margin-right: 1rem;
}
.text2 {
  font-size: 2.5rem;
  font-weight: bold;
}
.text3 {
  font-size: 3.5rem;
  font-weight: bold;
}
.text4 {
  font-size: 2.5rem;
  font-weight: 325;
}
.text5 {
  font-size: 2.5rem;
  font-weight: bold;
  color: red;
}
.imageComponent {
  width: 50%;
  margin-right: 5%;
  display: flex;
}
.connectbutton {
  background-color: red;
  color: white;
  font-size: 21px;
  font-weight: 375;
  cursor: pointer;
  margin-top: 5%;
  width: 35%;
  padding: 6px 25px;
  border-radius: 15px;
  border: 2px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}
.connectbutton:hover {
  background-color: white;
  color: red;
}
.anchor {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Cursor {
  color: white;
  font-size: 2.3rem;
}
.name_intro_projects {
  font-size: 22px;
}
.arrowSign {
  font-weight: bold;
  font-size: xx-large;
  margin-left: 5px;
}
@media (min-width: 1200px) and (max-width: 1385px) {
  .helloimage {
    width: 60%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: -7rem;
    margin-left: -95px;
  }
  .text2 {
    font-size: 2rem;
  }
  .text3 {
    font-size: 3rem;
  }
  .text4 {
    font-size: 2rem;
  }
  .text5 {
    font-size: 2rem;
  }
  .imageComponent {
    width: 50%;
  }
  .connectbutton {
    font-size: 1.2rem;
    height: 2.5rem;
    width: fit-content;
  }
  .arrowSign {
    font-weight: bold;
    margin-left: 5px;
    font-size: larger;
  }
}
@media (min-width: 1100px) and (max-width: 1200px) {
  .helloimage {
    width: 58%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: -5rem;
    margin-left: -78px;
    margin-top: -10rem;
  }
  .text2 {
    font-size: 1.6rem;
  }
  .text3 {
    font-size: 2.3rem;
  }
  .text4 {
    font-size: 1.6rem;
  }
  .text5 {
    font-size: 1.6rem;
  }
  .imageComponent {
    width: 60%;
  }
  .connectbutton {
    font-size: 1.2rem;
    height: 2.5rem;
    width: fit-content;
    margin-top: 3.5rem;
  }
  .arrowSign {
    font-weight: bold;
    margin-left: 5px;
    font-size: larger;
  }
  .Cursor {
    font-size: 1.8rem;
  }
}
@media (min-width: 1000px) and (max-width: 1100px) {
  .helloimage {
    width: 55%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: -3.5rem;
    margin-left: -65px;
    margin-top: -10rem;
  }
  .text2 {
    font-size: 1.5rem;
  }
  .text3 {
    font-size: 2rem;
  }
  .text4 {
    font-size: 1.5rem;
  }
  .text5 {
    font-size: 1.5rem;
  }
  .imageComponent {
    width: 60%;
  }
  .connectbutton {
    font-size: 1.1rem;
    height: 2.2rem;
    width: fit-content;
    margin-top: 3.5rem;
  }
  .arrowSign {
    font-weight: bold;
    margin-left: 5px;
    font-size: larger;
  }
  .Cursor {
    font-size: 1.8rem;
  }
}
@media (min-width: 800px) and (max-width: 1000px) {
  .helloimage {
    width: 75%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: -3rem;
    margin-left: -60px;
    margin-top: -9rem;
  }
  .text2 {
    font-size: 1.2rem;
  }
  .text3 {
    font-size: 1.6rem;
  }
  .text4 {
    font-size: 1.1rem;
  }
  .text5 {
    font-size: 1.1rem;
  }
  .imageComponent {
    width: 75%;
  }
  .connectbutton {
    font-size: 1rem;
    height: 2rem;
    width: fit-content;
    margin-top: 3.5rem;
  }
  .Cursor {
    font-size: 1rem;
  }
  .arrowSign {
    font-weight: bold;
    margin-left: 5px;
    font-size: larger;
  }
}
@media (min-width: 600px) and (max-width: 800px) {
  .helloimage {
    width: 75%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: -3rem;
    margin-left: -2.7rem;
    margin-top: -5rem;
  }
  .text2 {
    font-size: 1.1rem;
  }
  .text3 {
    font-size: 1.5rem;
  }
  .text4 {
    font-size: 1rem;
  }
  .text5 {
    font-size: 1rem;
  }
  .imageComponent {
    width: 65%;
  }
  .connectbutton {
    font-size: 0.9rem;
    height: 1.8rem;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
  }
  .arrowSign {
    font-weight: bold;
    margin-left: 5px;
    font-size: larger;
  }
  .Cursor {
    font-size: 1rem;
  }
}
@media (min-width: 400px) and (max-width: 600px) {
  .helloimage {
    width: 75%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: -3rem;
    margin-left: -2.3rem;
    margin-top: -5rem;
  }
  .text2 {
    font-size: 0.7rem;
  }
  .text3 {
    font-size: 0.9rem;
  }
  .text4 {
    font-size: 0.6rem;
  }
  .text5 {
    font-size: 0.6rem;
  }
  .imageComponent {
    width: 55%;
  }
  .connectbutton {
    font-size: 0.8rem;
    height: 1.8rem;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
  }
  .arrowSign {
    font-weight: bold;
    margin-left: 3px;
    font-size: larger;
  }
  .Cursor {
    font-size: 1rem;
  }
}
@media (min-width: 300px) and (max-width: 400px) {
  .helloimage {
    width: 75%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: -3rem;
    margin-left: -2.3rem;
    margin-top: -2rem;
  }
  .text2 {
    font-size: 0.4rem;
  }
  .text3 {
    font-size: 0.7rem;
  }
  .text4 {
    font-size: 0.5rem;
  }
  .text5 {
    font-size: 0.5rem;
  }
  .imageComponent {
    width: 55%;
  }
  .connectbutton {
    font-size: 0.5rem;
    height: 1.5rem;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
  }
  .arrowSign {
    font-weight: bold;
    margin-left: 3px;
    font-size: larger;
  }
  .Cursor {
    font-size: 1rem;
  }
}
